
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2.0;
    color: #333;
    background-color: #FFEACA;
}

header {
   
    background-color: #333333de;
    border-radius: 50px;
    color: #fff;
    padding: 1rem;
    width: 500px;
    height: 70px;
    margin: 10px auto;

    display: flex;           
    justify-content: center; 
    align-items: center;     
    text-align: center;
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: 1fr; 
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

nav a {
    color: #FF6076;
    font-size: 30px;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav a:hover {
    background-color: #606060;
    text-align: center;
    align-items: center;
}

main {
    max-width: 1200px;
    margin: 2rem auto 100px;
    padding: 1rem;
    
}

.bubble img{
    width: 1200px;
    height: auto;
   
    display: block;
    

}


.product {
    background-color: #FF6076;
    border: 1px solid #FF6076;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.product img {
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.product button {
    align-self: center; 
    margin-top: 0.5rem;
}

button {
    background-color: #7DE068;
    color: #606060;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #606060;
}

form {
    max-width: 400px;
    margin: 2rem auto;
    background-color: #FF6076;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cart-item {
    background-color: #FF6076;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* formulaire de contact */

.bubble-contact {
    max-width: 300px;
    height: auto;
    margin: auto;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input, .contact-form select, .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 120px; /* Taille uniforme */
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}


.button-container {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
}


.product-description {
    font-size: 16px;
    line-height: 1.5;
   margin:  100px 200px 100px 200px;
}

.ingredients-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ingredients-table th, .ingredients-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: white; 
}

.ingredients-table th {
    background-color: #FF6076;
    font-weight: bold;
    color: white; 
}

.ingredients-table tr:nth-child(odd) {
    background-color: #FF6076; 
}

.ingredients-table tr:nth-child(even) {
    background-color: #606060; 
}

.ingredients-table .percentage {
    font-weight: bold;
    color: white; 
}

.photo-section {
    text-align: center;
    margin: auto 100px;
   
}

.photo-section img {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin:  100px;
    width: 800px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #ddd;
}